<% layout('layout/boilerplate')%>
    <h1 class="mb-3">All tourist places</h1>
    <% for(let campground of campgrounds) { %>
        <div class="card mb-2">
            <div class="row">
                <div class="col-md-7">
                    <img class="img-fluid" alt="" src="<%=(campground.image.length) ? campground.image[0].url : ""%>">
                </div>
                <div class="col-md-5">
                    <div class="card-body">
                        <h5 class="card-title">
                            <%= campground.title %>
                        </h5>
                        <p class="card-text">
                            <%= campground.description %>
                        </p>
                        <p class="card-text">
                            <small class="text-muted">
                                <%= campground.location %>
                            </small>
                        </p>
                        <a class="btn btn-primary" href="/maketourList/<%= campground._id %>">View</a>
                    </div>
                </div>
            </div>
        </div>
        <% } %>