<% layout('layout/boilerplate')%>
    <div id="map"></div>
    <h1 class="mb-5">Explore !!!</h1>
    <% for(let campground of campgrounds) { %>
        <div class="card mb-5">
            <div class="row">
                <div class="col-md-7">
                    <img class="img-fluid img-thumbnail max-img-size" alt="" src="<%=(campground.image.length) ? campground.image[0].url : ""%>">
                </div>
                <div class="col-md-5">
                    <div class="card-body ">
                        <h5 class="card-title">
                            <%= campground.title %>
                        </h5>
                        <p class="card-text">
                            <%= campground.description %>
                        </p>
                        <p class="card-text">
                            <small class="text-muted">
                                <%= campground.location %>
                            </small>
                        </p>
                        <a class="btn btn-primary" href="/maketourList/<%= campground._id %>">View</a>
                    </div>
                </div>
            </div>
        </div>
        <% } %>
            <script>
                maptilersdk.config.apiKey = `<%- process.env.MAP_API_KEY %>`;
                const campground  = {features: <%- JSON.stringify(campgrounds)%> }
            </script>
            <script src="/scripts/mapscript.js"></script>